<!-- profile pic uploadiong pen -->
<!-- https://codepen.io/azazy/pen/EgdXxG -->
<!-- profile form -->
<!-- https://www.bootdey.com/snippets/view/bs5-edit-profile-account-details#preview -->
<!-- https://bbbootstrap.com/snippets/bootstrap-edit-profile-accounts-setting-template-80240656 -->

<!-- D:\multiform_dantecch_try -->
<div class="container">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">

        <!-- Account details card-->
        <div class="card mb-4">
            <div class="card-header">
                <h2 class="card-title">
                    Step 1
                </h2>
                <h4 class="card-subtitle">
                    Organization details
                </h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <!-- Profile picture card-->
                        <div class="card mb-4 mb-xl-0">
                            <div class="card mt-3">
                                <div class="profile-pic">
                                    <label class="-label" for="file">
                                        <i class="bi bi-camera" style="font-size: 1.25em;"></i>
                                        <span>Change Image</span>
                                    </label>
                                    <input id="file" type="file" (change)="loadFile($event)" />
                                    <img src='assets/images/users/user.svg' id="output" width="184px" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-8">

                        <div class="mb-3">

                            <label for="inputUsername">Organization name</label>
                            <input type="text" formControlName="name" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
                                placeholder="Enter organization" [(ngModel)]="UserDetails.clinicname" readonly required>
                            <div *ngIf=" submitted && f['name'].errors" class="invalid-feedback">
                                <div *ngIf="f['name'].errors && f['name'].errors['required']">Name is required</div>
                            </div>
                        </div>
                        <div class="mb-3">

                            <label for="inputUsername">Email</label>
                            <input type="email" formControlName="email" class="form-control"
                                [(ngModel)]="UserDetails.email" readonly
                                [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" placeholder="Email" />
                            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required</div>
                            </div>
                            <div *ngIf=" submitted && f['email'].errors" class="invalid-feedback">
                                <div *ngIf="f['email'].errors && f['email'].errors['email']">Check your email address
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Form Row-->
                <div class="row gx-3 mb-3">
                    <!-- Form Group (first name)-->
                    <div class="col-md-6">
                        <label for="inputFirstName">Phone number</label>
                        <input type="text" formControlName="phonenumber" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['phonenumber'].errors }"
                            [(ngModel)]="UserDetails.profile.phonenumber" readonly placeholder="Phone Number" />
                        <div *ngIf="submitted && f['phonenumber'].errors" class="invalid-feedback">
                            <div *ngIf="f['phonenumber'].errors && f['phonenumber'].errors['required']">Phone number is
                                required</div>
                        </div>
                        <div *ngIf="submitted && f['phonenumber'].errors" class="invalid-feedback">
                            <div *ngIf="f['phonenumber'].errors && f['phonenumber'].errors['pattern']">Should contain
                                only numerals(10)</div>
                        </div>
                    </div>
                    <!-- Form Group (last name)-->
                    <div class="col-md-6">
                        <label for="inputLastName">Alternate number</label>
                        <input type="text" formControlName="alternativenumber" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['alternativenumber'].errors }"
                            placeholder="Enter Alternative number" />
                        <div *ngIf="submitted && f['alternativenumber'].errors" class="invalid-feedback">
                            <div *ngIf="f['alternativenumber'].errors && f['alternativenumber'].errors['required']">
                                Phone number is
                                required</div>
                        </div>
                        <div *ngIf="submitted && f['alternativenumber'].errors" class="invalid-feedback">
                            <div *ngIf="f['alternativenumber'].errors && f['alternativenumber'].errors['pattern']">
                                Should contain
                                only numerals(10)</div>
                        </div>
                    </div>
                </div>
                <!-- Form Group (address)-->
                <div class="mb-3">
                    <label for="inputEmailAddress">Address</label>
                    <input type="text" formControlName="address" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f['address'].errors }" placeholder="Address"
                        [(ngModel)]="UserDetails.profile.address" readonly />
                    <div *ngIf="submitted && f['address'].errors" class="invalid-feedback">
                        <div *ngIf="f['address'].errors && f['address'].errors['required']">Address is required</div>
                    </div>
                    <div *ngIf="submitted && f['address'].errors" class="invalid-feedback">
                        <div *ngIf="f['address'].errors && f['address'].errors['maxlength']">Use less than 50 word</div>
                    </div>
                </div>
                <!-- Form Row        -->
                <div class="row gx-3 mb-3">
                    <!-- Form Group (organization name)-->
                    <div class="col-md-6">
                        <label for="inputOrgName">City</label>
                        <input formControlName="city" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['city'].errors }" type="text"
                            placeholder="Enter your organization city">
                        <div *ngIf="submitted && f['city'].errors" class="invalid-feedback">
                            <div *ngIf="f['city'].errors && f['city'].errors['required']">City is required</div>
                        </div>
                    </div>
                    <!-- Form Group (location)-->
                    <div class="col-md-6">
                        <label for="inputLocation">State</label>
                        <input id="inputLocation" formControlName="state" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['state'].errors }" type="text"
                            placeholder="Enter your organization state">
                        <div *ngIf="submitted && f['state'].errors" class="invalid-feedback">
                            <div *ngIf="f['state'].errors && f['state'].errors['required']">State is required</div>
                        </div>
                    </div>
                </div>
                <div class="row gx-3 mb-3">
                    <!-- Form Group (organization name)-->
                    <div class="col-md-6">
                        <label for="inputOrgName">Pincode</label>
                        <input formControlName="pincode" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['pincode'].errors }" type="text"
                            placeholder="Enter your organization location pincode">
                        <div *ngIf="submitted && f['pincode'].errors" class="invalid-feedback">
                            <div *ngIf="f['pincode'].errors && f['pincode'].errors['required']">Pincode is required
                            </div>
                        </div>
                        <div *ngIf="submitted && f['pincode'].errors" class="invalid-feedback">
                            <div *ngIf="f['pincode'].errors && f['pincode'].errors['minlength']">Check your Pincode
                                (Must
                                contain only numbers)
                            </div>
                        </div>
                        <div *ngIf="submitted && f['pincode'].errors" class="invalid-feedback">
                            <div *ngIf="f['pincode'].errors && f['pincode'].errors['maxlength']">Check your Pincode
                                (Must
                                contain only numbers)
                            </div>
                        </div>
                    </div>
                    <!-- Form Group (location)-->
                    <div class="col-md-6">
                        <label for="inputLocation">Country</label>
                        <input id="inputLocation" formControlName="country" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['country'].errors }" type="text"
                            placeholder="Enter your Country">
                        <div *ngIf="submitted && f['country'].errors" class="invalid-feedback">
                            <div *ngIf="f['country'].errors && f['country'].errors['required']">Country is required
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="card mb-4">
            <div class="card-header">
                <h2 class="card-title">
                    Step 2
                </h2>
                <h4 class="card-subtitle">
                    Bank details
                </h4>
            </div>
            <div class="card-body">
                <!-- Form Group (bank acc number-->
                <div class="mb-3">
                    <label for="inputUsername">Bank account number </label>
                    <input formControlName="bank_acNo" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f['bank_acNo'].errors }" type="text"
                        placeholder="Enter bank account number">
                    <div *ngIf="submitted && f['bank_acNo'].errors" class="invalid-feedback">
                        <div *ngIf="f['bank_acNo'].errors && f['bank_acNo'].errors['required']">Bank account is required
                        </div>
                    </div>
                    <div *ngIf="submitted && f['bank_acNo'].errors" class="invalid-feedback">
                        <div *ngIf="f['bank_acNo'].errors && f['bank_acNo'].errors['pattern']">Check your Bank account
                        </div>
                    </div>
                </div>
                <!-- Form Row-->
                <div class="row gx-3 mb-3">
                    <!-- Form Group (ifsc number)-->
                    <div class="col-md-6">
                        <label for="inputFirstName">IFSC number</label>
                        <input formControlName="ifsc" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['ifsc'].errors }" type="text"
                            placeholder="Enter IFSC number">
                        <div *ngIf="submitted && f['ifsc'].errors" class="invalid-feedback">
                            <div *ngIf="f['ifsc'].errors && f['ifsc'].errors['required']">IFSC code is required</div>
                        </div>
                        <div *ngIf="submitted && f['ifsc'].errors" class="invalid-feedback">
                            <div *ngIf="f['ifsc'].errors && f['ifsc'].errors['pattern']">Check your IFSC code</div>
                        </div>
                    </div>
                    <!-- Form Group (bank branch)-->
                    <div class="col-md-6">
                        <label for="inputLastName">Bank branch</label>
                        <input formControlName="bank_brnch" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['bank_brnch'].errors }" type="text"
                            placeholder="Enter the bank branch">
                        <div *ngIf="submitted && f['bank_brnch'].errors" class="invalid-feedback">
                            <div *ngIf="f['bank_brnch'].errors && f['bank_brnch'].errors['required']">Bank branch is
                                required</div>
                        </div>
                    </div>
                </div>
                <!-- Form Row -->
                <div class="row gx-3 mb-3">
                    <!-- Form Group (upiid)-->
                    <div class="col-md-6">
                        <label for="inputOrgName">UPI ID</label>
                        <input formControlName="upi_id" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['upi_id'].errors }" type="text"
                            placeholder="Enter UPI ID">
                        <div *ngIf="submitted && f['upi_id'].errors" class="invalid-feedback">
                            <div *ngIf="f['upi_id'].errors && f['upi_id'].errors['required']">UPI ID is required</div>
                        </div>
                        <div *ngIf="submitted && f['upi_id'].errors" class="invalid-feedback">
                            <div *ngIf="f['upi_id'].errors && f['upi_id'].errors['pattern']">Check your UPI ID</div>
                        </div>
                    </div>
                    <!-- Form Group (gst)-->
                    <div class="col-md-6">
                        <label for="inputLocation">GST</label>
                        <input formControlName="gst" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['gst'].errors }" type="text"
                            placeholder="Enter GST number">
                        <div *ngIf="submitted && f['gst'].errors" class="invalid-feedback">
                            <div *ngIf="f['gst'].errors && f['gst'].errors['required']">GST is required</div>
                        </div>
                        <div *ngIf="submitted && f['gst'].errors" class="invalid-feedback">
                            <div *ngIf="f['gst'].errors && f['gst'].errors['pattern']">Check your GST No.</div>
                        </div>
                    </div>
                </div>
                <!-- Save changes button-->
                <div class="d-flex justify-content-end">
                    <button type="submit">Submit profile</button>
                </div>
            </div>
        </div>
    </form>
</div>